# Copyright (c) 2009-2011, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on boot-pause
    exec system/bin/battery_charging

on boot
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
#TELECA_NETMGR_DHCP START
    chown radio.radio /dev/ttyLTE0
    chmod 666 /dev/ttyLTE0        
#TELECA_NETMGR_DHCP END

    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    symlink /data/hostapd/qcom_cfg.ini /etc/firmware/wlan/qcom_cfg.ini
    setprop wifi.interface wlan0

     # Create directories for wiper services
    mkdir /data/wpstiles/ 0777 shell
    mkdir /data/wiper 0777 location qcom_oncrpc

     # Create directories for gpsone_daemon services
    mkdir /data/gpsone_d 0770 gpsone_d qcom_oncrpc
    mkdir /etc/gpsone_d 0770 gpsone_d qcom_oncrpc

     # Create directory from IMS services
    mkdir /data/shared 0777


    #Set SUID bit for usbhub
    chmod 4755 /system/bin/usbhub
    chmod 755 /system/bin/usbhub_init

#TELECA_NETMGR_DHCP START
# LGE Net Mgr will perform init operation
    setprop lge.netmgr.op init
#TELECA_NETMGR_DHCP END
    #Set SUID bit for diag_mdlog
    chmod 4755 /system/bin/diag_mdlog

    #Provide the access to hostapd.conf only to root and group
    chmod 0660 /data/hostapd/hostapd.conf

    # Remove write permissions to video related nodes
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0664 /sys/devices/virtual/graphics/fb1/format_3d

# BEGIN:  jaeho.cho@lge.com 2011-07-14 port-bridge system permission
    chmod 0666 /dev/smd0
    chown system system /dev/smd0

    chmod 0666 /dev/ttyGS0
    chown system system /dev/ttyGS0
# END:  jaeho.cho@lge.com 2011-07-14 port-bridge system permission

    # Change owner and group for media server and surface flinger
    chown media system /sys/devices/virtual/graphics/fb1/format_3d

    #increase dirty_writeback_interval
    write /proc/sys/vm/dirty_writeback_centisecs 60000
    write /proc/sys/vm/dirty_expire_centisecs 60000
    write /proc/sys/vm/laptop_mode 5

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
   user root
   disabled
   oneshot

on property:ro.product.device=msm7630_fusion
    start usbhub_init

#TELECA_NETMGR_DHCP START
service lge-sh /system/bin/sh /system/etc/init.lge.lte.sh
    user root
    oneshot

#TELECA_NETMGR_DHCP END

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

#+++ BRCM
#on property:init.svc.bluetoothd=running
#    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
#    start btwlancoex
#
#on property:init.svc.bluetoothd=stopped
#    stop btwlancoex
#--- BRCM

service cnd /system/bin/cnd
    socket cnd stream 660 root radio

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11 /dev/block/mmcblk0p7
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

#+++ BRCM
# Make sure we startup btld before bluetoothd
# Set target address to emulator host loopback IF
# Limit baudrate to 460800 to ensure reliable uart operation
service btld /system/bin/logwrapper /system/bin/btld -hb 4000000 -lpm 1
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service bluetoothd /system/bin/bluetoothd -n
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

#service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
#    user bluetooth
#    group qcom_oncrpc bluetooth net_bt_admin
#    disabled
#    oneshot
#--- BRCM

# BEGIN:  jaeho.cho@lge.com 2011-07-14 port-bridge system permission
service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    user system
    group system inet
# END:  jaeho.cho@lge.com 2011-07-14 port-bridge system permission

# BEGIN:  jaeky.oh@lge.com 2010-04-01 LLDM Daemon start
# CONFIG_LGE_USB_GADGET_LLDM_DRIVER
#service lldm-bridge /system/bin/lldm-bridge /dev/tty_lldm_LTE0 /dev/ttyGS1
# END:  jaeky.oh@lge.com 2010-04-01 

service qmuxd /system/bin/qmuxd
    user radio
    group radio
    disabled

#TELECA_NETMGR_DHCP START
# BEGIN: 0011015 jungwook.lim@lge.com 2010-11-17
# MOD 0011015: [eHRPD] patch for eHRPD data call connection in 2030
service netmgrd /system/bin/netmgrd -E -s -p
# END:  0011015 jungwook.lim@lge.com 2010-11-17
#service netmgrd /system/bin/logwrapper /system/bin/netmgrd -E -s -p
    disabled
#TELECA_NETMGR_DHCP END

#TELECA_NETMGR_DHCP START
on property:ro.use_data_netmgrd=true
    # netmgr not supported on specific target
    start netmgrd
#TELECA_NETMGR_DHCP END

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1
#+++ BRCM
#service btwlancoex /system/bin/sh /system/etc/init.qcom.coex.sh
#    group bluetooth net_bt_admin
#    disabled
#    oneshot
#--- BRCM

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    user root
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKL wlan0
    disabled
    oneshot

service wiperiface /system/bin/wiperiface
    user location
    group qcom_oncrpc
    oneshot

service gpsone_daemon /system/bin/gpsone_daemon
    user root
    group qcom_oncrpc
    disabled

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user root
    group system qcom_oncrpc
    disabled
    oneshot

on property:crypto.driver.load=1
     insmod /system/lib/modules/qce.ko
     insmod /system/lib/modules/qcedev.ko

on property:crypto.driver.load=0
     exec /system/bin/rmmod qcedev.ko
     exec /system/bin/rmmod qce.ko

service qcom-sh /system/bin/sh /init.qcom.sh
    user root
    oneshot

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    user root
    disabled
    oneshot

service qcom-wifi /system/bin/sh /system/etc/init.qcom.wifi.sh
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start qcom-post-boot
    start qcom-wifi

service ckpd /system/bin/CKPD-daemon
    user system
    group system radio
    disabled
    onrestart /system/bin/log -t RIL-CKPD -p w "CKPD daemon restarted"

on property:ro.service.ckpd.enable=1
    start ckpd

# 0014518: [HDMI] hdmid need to be run as not the root mode - change to run on the system process
# chungil.chung@lge.com
# START
# BEGIN jaeho.cho@lge.com 2011-08-03, change ownership from root to system for CTS
    chown system system /system/lib/modules/hdmitx.ko	
    chown system system /sys/devices/virtual/hdmitx/hdmitx/power_state
#    chown system system /sys/devices/virtual/graphics/fb1/power_state

    chown system system /sys/class/hdmitx/hdmitx/power_state
#    chown system system /sys/class/graphics/fb1/power_state
# END jaeho.cho@lge.com 2011-08-03, change ownership from root to system for CTS

service hdmid /system/bin/hdmid
    user system
    group system graphics
    socket hdmid stream 0660 system system graphics
    disabled

on property:ro.hdmi.enable=true
    start hdmid

# END 0014518

#TELECA_NETMGR_DHCP START
service lge-netmgr /system/bin/sh /system/etc/init.lge.netmgr.sh
    user root
    ioprio rt 4
    disabled
    oneshot

on property:lge.netmgr.run=1
    start lge-netmgr
#TELECA_NETMGR_DHCP END

#TELECA_EVDO_PPP_SYNC_ISSUE START
service lge-dhcp-restart /system/bin/sh /system/etc/init.lge.dhcp.restart.sh
    user root
    ioprio rt 4
    disabled
    oneshot

on property:lge.dhcp.restart.run=1
    start lge-dhcp-restart
#TELECA_EVDO_PP_SYNC_ISSUE END

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    user root
    group root
    oneshot
    disabled

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    group radio
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service ims_regmanager /system/bin/exe-ims-regmanagerprocessnative
    user system
    group qcom_oncrpc net_bt_admin inet radio wifi
    disabled

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

service thermald /system/bin/thermald
    user root
    group root
    disabled

on property:persist.thermal.monitor=true
    start thermald

service time_daemon /system/bin/time_daemon
    user root
    group root
    oneshot
    disabled

on property:persist.timed.enable=true
    mkdir /data/time/ 0700
    start time_daemon

#+++ BRCM
#service ftp /system/bin/sdptool add --channel=20 FTP
#    user bluetooth
#    group bluetooth net_bt_admin
#    disabled
#    oneshot
#
#service map /system/bin/sdptool add --channel=16 MAS
#    user bluetooth
#    group bluetooth net_bt_admin
#    disabled
#    oneshot
#--- BRCM
